@import '../../../../styles.scss';

#header {
  
  .header-title {
    background-color: #b9c3ec;
    padding: 20px 0;
    text-align: center;

    h1 {
      font-size: 32px;
      font-weight: 500;
    }
  }

  .header-budget {
    background-color: #161c29;
    padding: 100px 0;
    text-align: center;

    h2 {
      font-size: 62px;
      font-weight: 300;
      color: #23d39a;
    }
  }

  .inputs-data {
    padding: 20px 0;
    border-bottom: 1px solid #f5f5f5;
    
    .container {
      display: flex;
      justify-content: space-between;

      input {
        @include input(#f5f5f5, #000);

        &:focus {
          border: 2px solid #9f68eb;
        }
        
        &:nth-child(1) {
          width: 20%;
        }
        
        &:nth-child(2) {
          width: 65%;
        }
      }
      
      button {
        @include button(#9f68eb, #fff);
        width: 10%;
      }
    }

  }
}