<header id="header">
  <div class="header-title">
    <h1>{{ title | uppercase }}</h1>
  </div>

  <div class="header-budget">
    <h2 [ngClass]="changeNumberColour()">{{ getBudget() | currency:'BRL' }}</h2>
  </div>

  <div class="inputs-data">
    <div class="container">
      <form [formGroup]="formBudget">
        <div class="validation">
          <input 
            [ngClass]="validatingForm('amount')" 
            formControlName="amount" 
            type="text" 
            placeholder="amount">
          <p *ngIf="!this.formBudget.get('amount').valid && this.formBudget.get('amount').touched">Input field required!</p>
        </div>
        <div class="validation">
          <input 
            [ngClass]="validatingForm('description')" 
            formControlName="description" 
            type="text"
            placeholder="description">
          <p *ngIf="!this.formBudget.get('description').valid && this.formBudget.get('description').touched">Input field required!</p>
        </div>
        <button 
          [ngClass]="stylingButton()" 
          (click)="sendData()" 
          type="button"
          [disabled]="!formBudget.valid">Add</button>
      </form>
    </div>
  </div>
</header>