@import '../../../../styles.scss';

#header {
  
  .header-title {
    background-color: #b9c3ec;
    padding: 20px 0;
    text-align: center;

    h1 {
      font-size: 32px;
      font-weight: 500;
    }
  }

  .header-budget {
    background-color: #161c29;
    padding: 100px 0;
    text-align: center;

    h2 {
      font-size: 62px;
      font-weight: 300;
      color: #23d39a;
    }
  }

  .inputs-data {
    padding: 20px 0;
    border-bottom: 1px solid #f5f5f5;
    
    .container {
      
      form {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .validation {

          &:nth-child(1) {
            width: 20%;
          }
          
          &:nth-child(2) {
            width: 65%;
          }

          input {
            @include input(#f5f5f5, #000);
            width: 100%;
            margin-bottom: 5px;
    
            &.success {
              border: 2px solid #9f68eb;
            }
            
            &.error {
              border: 2px solid red;
            }
          }

          p {
            font-size: 15px;
            color: red;
          }
        }
        
        button {
          width: 10%;
          height: 40px;
          
          &.success {
            @include button(#9f68eb, #fff);
          }
          
          &.error {
            @include button(#999999, #fff);
          }
        }
      }
    }
  }
}